.recipe-img {
  height: 15em;
  margin: 10px;
}

.recipe {
  border: 4px #ff3838 solid;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
}

h3 {
  font-family: 'Gayathri', sans-serif;
  font-size: 27px;
  margin: 10px;
}

p {
  font-family: 'Gayathri', sans-serif; 
}

.view-recipe-btn {
    padding: 10px;
    font-size: 20px;
    border: 2px solid #ff3838;
    margin: 10px;
    border-radius: 5px;
    width: 50%;
    background-color: transparent;
}

.view-recipe-btn:hover {
  background: #ff3838;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
    text-decoration: underline;
    color: white;
    cursor: grabbing;
  }
