* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.App {
  text-align: center;
}

.App-header {
  color: #ff3838;
  font-size: 5em;
  font-family: 'Nothing You Could Do', cursive;
}

.App-link {
  color: #09d3ac;
}
